/* The Stylesheet defines CSS styling for every page and item in the GMUExchange
   website.*/

    /* Text styling*/
p, h1, h2, h3, h4, h5, h6, li, .bottomColumns, .creds, .search {
  font-family: sans-serif;
}
a {
  color:inherit;
  text-decoration:none;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}

content {
    min-height: 100%;
}

.creds{
  position: relative;
  padding: 15px;
  display: block;
  width: 55%;
  text-align: left;
}

/*Menu styling*/
.menu {
  margin-top: -20px;
  height: 60px;
  padding: 1px;
  background-color: green;
  opacity: 0.9;
}
.menu li {
  display: inline-block;
  padding: 10px;
  color: white;
  float: right;
}
li.left {
  float: left;
}

/*Log out styling*/
#logOut{
    display: inline-block;
    visibility: hidden;
    padding: 10px;
    color: white;
}
#logOut:hover{
    color: green;
}
.menu li:hover {
  background-color: white;
  color: green;
}

/*Main and Section heading styling*/
.mainHeading, .sectionHeading {
  max-width: 100%;
  position: relative;
  overflow: hidden;
}
.mainHeading img, .sectionHeading img {
  width: 100%;
  max-height: 100%;
  opacity: 0.45;
  transition: 1s ease-in;
}
/*Main heading and Section heading image transformation*/
.mainHeading img:hover, .sectionHeading img:hover {
  transform: scale(1.1);
}

/*Search styling*/
.search {
  background-color: #f2f2f2;
  padding: 15px;
}
.search #searchTerms {
    text-align: center;
    padding: 15px;
    font-weight: bold; /*http://www.w3schools.com/cssref/pr_font_weight.asp*/
}
.search .button {
  width: 25%;
}
.searchResultTable {
  padding: 10px;
  width: 100%;
  font-family: sans-serif;
}
.searchBoxTable {
  width: 100%;
}
.search th {
  background-color: green;
  color: white;
}
.search th, td {
  padding: 10px;
}
.searchResultTable tr:nth-child(odd){ /*http://www.w3schools.com/css/css_table.asp*/
  background-color: #ffffcc;
}
input[type="text"]{
  font-size: 17px;
  width: 80%;
}
.newItem {
 display: none;
}

.newItemForm {
   width: 50%;
   padding: 10px;
}
input[type = "text2"]{
   width: 200px;
}

/*Title, Subtitle, and Home Page login styling*/
.title, .subtitle, .quickLogin{
  width: 100%;
  text-align: center;
  position:absolute;
  z-index: 10;
  color: black;
}
.mainHeading .table, .quickLogin{
  width: 100%;
  padding-left: 25%;
  padding-right: 25%;
}

/* Home Page Login styling*/
input[type="email"], input[type="password"] {
  margin: 5px;
  width: 90%;
  font-size: 20px;
}


/*Home Page - Button styling*/
.button {
  background-color: green;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
  border: none;
  font-size: 20px;
}
.creds .button {
    margin: auto 50%;
}
.searchBoxTable .button {
  width: 100%;
}
.button:active {
  border: none;
  background-color: white;
  color: green;
}

/*Home Page - Bottom columns*/
.bottomColumns {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 15px;
  color: #333333;
  text-align: center;
  padding-top: 5px;
}
.bottomColumns .table, td{
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

/*Footer styling*/
.footer {
  width: 100%;
  max-height: 150px;
  background-color: #333333;
  text-align: center;
  color: white;
  padding: 5px;
}
.footer a {
  font-family: monospace;
  font-size: 20px;
}

/*Home Page - different displays based on size of window (corresponding to
  device used)*/

/*MOBILE AND PHABLETS*/
@media screen { /*http://www.w3schools.com/cssref/css3_pr_mediaquery.asp http://mydevice.io/devices/*/
  .mainHeading, .sectionHeading{
    max-height: 150px;
  }
  .mainHeading .features h1 {
    font-size: 25px;
  }
  .title {
    top: 10%;
    font-size: 30px;
  }
  .subtitle {
    top: 40%;
    font-size: 20px;
  }
  .quickLogin {
    visibility: hidden;
  }
  .bottomColumns .table tr,td{ /*https://css-tricks.com/responsive-data-tables/*/
    display: block;
    text-align: left;
  }
}

/*TABLET*/
@media screen and (min-width: 480px){ /*max-height:800px http://www.w3schools.com/cssref/css3_pr_mediaquery.asp http://mydevice.io/devices/*/
  .mainHeading, .sectionHeading {
    max-height: 200px;
  }
  .title {
    top: 10%;
    font-size: 40px;
  }
  .subtitle {
    top: 40%;
    font-size: 30px;
  }
}
/*COMPUTER: FRACTION OF A WINDOW*/
@media screen and (min-width: 700px){
  .mainHeading {
    max-height: 400px;
  }
  .sectionHeading {
    max-height: 250px;
  }
  .searchResultTable {
    min-height: 310px;
  }
  .mainHeading .title {
    top: 5%;
    font-size: 50px;
  }
  .mainHeading .subtitle {
    top: 25%;
    font-size: 30px;
  }
  .quickLogin {
    visibility: visible;
    top: 55%;
  }
  .bottomColumns .table tr,td{
    display: table-cell;
    text-align: center;
  }
}
/*COMPUTER: FULL SCREEN*/
@media screen and (min-width: 1400px) { /*http://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
  .mainHeading .title {
    top: 0%;
    font-size: 60px;
  }
  .searchResultTable {
    min-height: 350px;
  }
  .mainHeading .subtitle {
    top: 20%;
    font-size: 40px;
  }
  .bottomColumns, .searchResultTable {
    min-height: 290px;
  }
}
